.home {
  min-height: calc(100vh - 8rem);
  background-color: purple;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.item {
  background-color: white;
  color: black;
  width: 600px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  border-radius: 4px;
}
