.dark {
  height: 100vh;
  background: linear-gradient(45deg, hsl(60, 60%, 1%), hsl(120, 100%, 0%));
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.light {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modeIcon {
  border: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
