.home {
  background-color: red;
  line-height: 1;
  font-size: 32px;
  width: 200px;
  height: 100px;
  padding: 20px;
  border: 10px solid blue;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  margin: auto;
}

/* Flow Layout */
/* Position Layout */
/* Flex Layout */
/* Grid Layout */

/* Color */
/* name */
/* hex code */
/* rgb code */
/* hsl code */
