.card {
  background-color: red;
  width: 300px;
}

.btn {
  border: none;
  background-color: hsl(270 100% 50%);
  color: white;
  padding: 5px;
  cursor: pointer;
}

.iPhoneImg {
  width: 100%;
  display: block;
}
